
.icon-left-dir:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-gmail:before { content: '\e803'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */